header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  z-index: 100;
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
}

.navbar-title {
  font-size: 1.5em;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.navbar-links li {
  display: inline;
  cursor: pointer;
}

.navbar-links a {
  text-decoration: none;
  font-size: 1.1em;
  transition: color 0.3s ease;
  color: #000000;
}


.cart-icon {
  position: relative;
  cursor: pointer;
  font-size: 1.5em !important; 
  color: #333; 
  transition: color 0.3s ease;
}

.cart-count {
  background: #f44336;
  color: #FFFFFF;
  padding: 0.2em 0.5em; 
  border-radius: 50%;
  font-size: 0.5em !important;
  position: absolute;
  top: -8px; 
  right: -8px; 
}
