<header>
  <div class="section">
    <nav class="navbar">
      <div class="navbar-brand">
        <a routerLink="/">
          <span class="navbar-title">Shopping Website</span>
        </a>
      </div>
      <ul class="navbar-links">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/products">Products</a></li>
        <li>
          <a routerLink="/cart" class="cart-icon">
            <i class="fas fa-shopping-cart"></i>
            <span class="cart-count">{{(cart$ | async)?.items?.length}}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>