
.product-detail-container {
  display: flex;
  margin-top: 50px;
}

.thumbnail {
  flex: 0 0 40%;
  margin-right: 20px;
}

.thumbnail img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-info {
  flex: 1;
}

.product-info h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333;
}

.product-info p {
  margin-bottom: 8px;
  color: #666;
}

.product-info .category {
  font-size: 1.1rem;
}

.product-info .description {
  font-size: 1.2rem;
}

.product-info .price {
  font-size: 1.3rem;
  color: #f44336;
  font-weight: bold;
}

.add-to-cart {
  display: flex;
  align-items: center;
}

.quantity-container {
  margin-right: 20px;
}

.quantity-container label {
  font-size: 1.1rem;
  color: #333;
}

.quantity-input {
  width: 60px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
}

.add-to-cart-btn {
  background-color: #f44336;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.2rem;
}

.add-to-cart-btn:hover {
  background-color: #ba1c00;
}

.reviews {
  margin-top: 40px;
}

.reviews h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #333;
}

.review-item {
  border-bottom: 1px solid #eee;
  padding: 20px 0;
  list-style: none;
}

.review-item:last-child {
  border-bottom: none;
}

.review-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.rating {
  font-size: 1.2rem;
  color: #f44336;
  margin-right: 10px;
}

.reviewer,
.date {
  font-size: 1.1rem;
  color: #666;
}

.comment {
  font-size: 1.2rem;
  color: #333;
  margin-top: 10px;
}

.star-rating {
  display: inline-block;
  margin-right: 5px;
}

.star-rating .fas.fa-star {
  color: #ffc107;
}

.star-rating .fas.fa-star.checked {
  color: #f44336;
}
.add-to-cart-btn[disabled] {
  background-color: #e0e0e0;
  cursor: not-allowed;
}