.products-container {
  display: flex;
  flex-wrap: wrap; 
}


.sidebar {
  flex: 0 0 100%; 
  padding: 20px;
  max-width: 300px;
}

.main-content {
  flex: 1;
  padding: 20px;
  min-width: 0; 
}


.filter-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-container h3 {
  font-size: 1.2em;
  margin-bottom: 15px;
  color: #333;
}

.category-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-list li {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #f5f5f5;
  transition: background-color 0.3s, color 0.3s;
}

.category-list li:hover {
  background-color: #e0e0e0;
}

.category-list .active {
  background-color: #f44336;
  color: #fff;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}

.product {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.product:hover {
  transform: translateY(-5px);
}

.product img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.product-details {
  padding: 15px;
}

.product h3 {
  font-size: 1.1em;
  margin-bottom: 5px;
}

.price {
  font-weight: bold;
  color: #f44336;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  background-color: #f44336;
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #ba1c00;
}
