<div class="section">
  <div class="products-container">
    <div class="sidebar">
      <div class="filter-container">
        <h3>Categories</h3>
        <ul class="category-list">
          <li [ngClass]="{'active': filter === 'all'}" (click)="setFilter('all')">All</li>
          @for (item of categories; track item.slug) {
          <li [ngClass]="{'active': filter === item.slug}" (click)="setFilter(item.slug)">{{ item.name }}</li>
          }
        </ul>
      </div>
    </div>
    <div class="main-content">
      <div class="products">
        @for (product of products; track product.id) {
        <app-product [product]="product"></app-product>
        }
      </div>
      <app-pagination [totalItems]="totalItems" [totalPages]="totalPages"
        [(currentPage)]="currentPage"></app-pagination>
    </div>
  </div>
</div>