.product {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0; 
  border-radius: 8px;
  overflow: hidden; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease; 
  cursor: pointer;
}

.product:hover {
  transform: translateY(-5px); 
}

.product img {
  width: 100%;
  height: 200px; 
  object-fit: cover; 
}

.product-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.product h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.price {
  font-weight: bold;
  color: #f44336;
  margin-bottom: 10px;
}

.btn {
  align-self: center;
  background-color: #f44336;
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #ba1c00;
}