<div class="product">
  <img [src]="product.thumbnail" alt="Product">
  <div class="product-details">
    <h3>{{ product.title }}</h3>
    <p class="price">{{ product.price | currency }}</p>
    <a [routerLink]="['/products', product.slug]" class="btn">View Details</a>
  </div>
</div>