.pagination-controls {
  margin-top: 20px;
  text-align: center;
}

.pagination-controls button {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  background-color: #f44336;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination-controls button[disabled] {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.pagination-controls button:hover:not([disabled]) {
  background-color: #ba1c00;
}

.pagination-controls button.active {
  background-color: #4CAF50; 
  color: white;
}