<div class="pagination-controls">
  <button [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)">Previous</button>
  @for (page of getPaginationRange(); track $index) {
  <button [class.active]=" currentPage===page" [disabled]="page === '...'" (click)="onPageChange(+page)">{{ page
    }}
  </button>
  }
  <button [disabled]="currentPage === totalPages" (click)="onPageChange(currentPage + 1)">Next</button>
</div>