<div class="section">
  <!-- <div class="banner">
    <img src="assets/images/samsung-s24-ultra-sliding-15-6-2024.webp" />
  </div> -->
  <h2 class="section-title">Featured Products</h2>
  <div class="products">
    @for (product of featuredProducts; track $index) {
    <app-product [product]="product"></app-product>
    }
  </div>
</div>