
.banner img {
  width: 100%;
  margin-bottom: 50px;
}
.section-title {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}

