.cart-container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.cart-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.item-info {
  display: flex;
  align-items: center;
}

.item-info img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  margin-right: 20px;
}

.item-details {
  flex-grow: 1;
}

.item-details h4 {
  margin: 0;
  font-size: 1.2rem;
}

.item-details p {
  margin: 5px 0;
  color: #666;
}

.item-details .price {
  color: #f44336;
  font-weight: bold;
}

.item-actions {
  display: flex;
  align-items: center;
}

.item-actions input {
  width: 60px;
  margin-right: 20px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.item-actions button {
  padding: 8px 16px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.item-actions button:hover {
  background-color: #ba1c00;
}

.cart-summary {
  text-align: right;
  margin-top: 20px;
}

.cart-summary p {
  font-size: 1.2rem;
  font-weight: bold;
}

.cart-summary button {
  padding: 12px 24px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.cart-summary button:hover {
  background-color: #388e3c;
}
