<div class="section">
  <div class="cart-container">
    <h2>Your Cart</h2>
    <ng-container *ngIf="cart$ | async as cart">
      @if(cart.items.length > 0) {
      @for(item of cart.items; track item.product.id) {
      <div class="cart-item">
        <div class="item-info">
          <img [src]="item.product.thumbnail" alt="{{ item.product.title }}" />
          <div class="item-details">
            <h4>{{ item.product.title }}</h4>
            <p class="price">{{ item.product.price | currency }}</p>
            <span>x {{item.quantity}}</span>
          </div>
        </div>
        <div class="item-actions">
          <label for="quantity">Quantity:</label>
          <input id="quantity" type="number" min="1" [ngModel]="item.quantity"
            (ngModelChange)="quantityChange(item, $event)" />
          <button (click)="removeProduct(item.product.id)">Remove</button>
        </div>
      </div>
      }
      <div class="cart-summary">
        <p>Total: {{calculateTotalPrice(cart) | currency}}</p>
        <button>Checkout</button>
      </div>
      } @else {
      <p>Your cart is empty</p>
      }

    </ng-container>
  </div>
</div>